.Russa_add_assesment {
    .Russa_modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
    }
  
    .Russa_modal-content {
      background-color: #bdbdbd;
      padding: 20px;
      border-radius: 10px;
      max-width: 600px;
      width: 100%;
      max-height: 90%;
      overflow: auto;
      position: relative;
      box-shadow: 0 0 10px #bdbdbd;
    }
  
    .Russa_close-modal-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #ff0000;
    }
  
    
    .Russa_add_pr_shd_form-title {
      font-size: 26px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
      color: #252525;
      border-bottom: solid 1px #7c7a7a;
    }
  
    .user-input-box {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      label {
        display: block;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #252525;
      }
      
  
      select,
      input{
        width: 100%;
        height: 40px;
        border-radius: 7px;
        outline: none;
        border: 1px solid #252525;
        padding: 0 10px;
        background-color: transparent;
        color: #252525;
        margin-bottom: 10px;
      }
      
    }
  
    .marking-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  
      .input-row {
        flex: 1;
        margin-right: 10px;
  
        label {
          display: block;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
          color: #252525;
        }
  
        input {
            width: 100%;
            height: 40px;
            border-radius: 7px;
            outline: none;
            border: 1px solid #252525;
            padding: 0 10px;
            background-color: transparent;
            color: #252525;
        }
      }
    }
  .Presentation_Add_Field_Button{
    text-decoration: none;
    background-color: #ffffff;
    color: #03c4ff;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #03c4ff;
    padding: 5px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: #03c4ff;
      color: #ffffff;
      transition-duration: 0.2s;
    }
  }
  
  .Presentation_Remove_Field_Button{
    text-decoration: none;
    background-color: #ffffff;
    color: #ff0000;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #ff0000;
    padding: 5px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
        background-color: #ff0000;
        color: #ffffff;
        transition-duration: 0.2s;
    }
  }
  
    .form-submit-btn {
      margin-top: 30px;
  
      input[type="submit"] {
        display: block;
        width: 100%;
        font-size: 20px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        color: #252525;
        background: #ffb703;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background: #ffcb57;
        }
      }
    }
  }
  
  
  
  
  
