#savi_form1{
    width: 100%;
    font-size: large;
    margin-left: 29%;
   
}

#savi_divform1{
    /* display: flex;
        justify-content: center;
        align-items: center; */
        margin-top: 1%;
        margin-right: 10%;
        margin-left: 0%;
      
}
#savi_btn1{
    width: 30%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#savi_btn2{
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 29%;

}
#savi_div2{
    margin-left: 1.5%; 
}