#shashi-form1{
    font-size: large;
}

#shashi_btn1{
    width: 30%;
    margin-left: 69%;
    margin-top: 5%;
}

#shashi_crd1{
    margin-top: 18%;
}

#shashi_btn2{
    margin-top: 8%;
    margin-bottom: 5%;
}