#shashi-form1{
    font-size: large;
}

#shashi_btn1{
    width: 30%;
    margin-left: 69%;
    margin-top: 5%;
}

#shashi_crd1{
    margin-top: 18%;
}

#shashi_btn2{
    margin-top: 8%;
    margin-bottom: 5%;
}
.card-title {
    font-size: 24px; /* Adjust as needed */
    font-weight: bold; /* Optionally adjust font weight */
    margin-bottom: 10px; /* Adjust margin bottom as needed */
  }
  
  .card-title.mb-smaller {
    font-size: 18px; /* Smaller font size for the second heading */
    margin-bottom: 6px; /* Smaller margin bottom */
  }